*{
	margin: 0; 
	padding: 0;
	box-sizing:border-box;
	transition-duration: .2s;
}
body{
	background:url('../images/background.jpg') no-repeat fixed;
	background-size: cover; 
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #715846;
}
nav{
	text-align: right;
	background: #FFF;
	padding: 1.6em;
	position: fixed-top;
	width: 100%;
}
h1>a{
	color: #3B6C71;
}
h1>a:hover{
	text-decoration: none;
}
nav>a {
	color: #3B6C71;
	padding: 1.2em;
	font-variant: small-caps;
	font-size: 1.1em;
	display: inline-block;
}
.mobilenav {
	display: none;
	float: right;
}
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: .5em;
	margin-top: 1em;
	line-height: 1.2em;
	font-size: 1em;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}
.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(59,108,113);
	z-index: 99;
}
.responsive-menu{
	display: none;
}
.expand {
	display: block !important; 
}
ul {
	margin: 0 auto;
	list-style-type: none;
	font-variant: small-caps;
	background-color: #FFE4D0;
	color: #715846;
	border-top-style: solid;
}
li {
	padding: .5em;
	border-style: solid;
	border-color: #715846;
	border-top: none;
}
#intro {
	height:80vh;
	background-color: rgba(255,255,255,.2);
}
#intro div {
	padding: 27em 0 0 9em;
	line-height: 4em;
	color: #fff;
}
#about {
	background-color: #FFF;
	padding:1.25em 0 1.25em 0;
}
#description {
	width: 50%;
	margin:auto;
	padding: 4em 0 6em 0;
	color: #3B6C71;
}
#services{
	background: #FFE4D0;
	margin: 0 auto;
	padding: 4em;
}
.icon{
	display: block;
	margin: 2em auto 0 auto;
	padding-bottom: .7em;
}
#portfolio{
	background: #FFF;
	padding: 7em;
	color: #3B6C71;
	margin: 0 auto;
}
#portfolio img{
	padding: 3em;
	width: 100%;
}
#portfolio>div{
	float: left;
	line-height: 1.2em;
	overflow: hidden;
	position: relative;
	padding: .1em;
	width: 50%;
}
.overlay{
	background-color: rgba(59,108,113,0);
	color: rgba(208,250,255,0);
	padding: 1.2em;
	position: absolute;
	top: 50%;
	left: 10%;
	right: 10%;
}
.overlay:hover{
	background-color: rgba(59,108,113,1);
	color: rgba(208,250,255,1);
}
#contact {
	background-color: #D0FAFF;
	text-align: center;
	padding: 3em 0 3em 0;
}
#contact>img {
	display: inline-block;
	padding: 2.8em;
}
h1 {
	font-family: 'Merriweather', serif;
	font-size: 3em;
	font-weight: 400;
	display: inline;
	float: left;
}
h2{
	margin: auto;
	font-style: italic;
	line-height: 1.4em;
	font-size: 2em;
	font-family: 'Merriweather', serif;
	font-weight: 400;
}
h3{
	width: 50%;
	margin: auto;
	text-align: center;
	padding: 1em;
	font-size: 1.75em;
	font-family: 'Merriweather', serif;
	font-weight: 400;
}
h4{
	font-size: 1.5em;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	text-align: center;
	margin-bottom: 1em;
}
a {
	text-decoration: none;
	color: #3B6C71;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	text-decoration: none;
}
.services {
	float:left;
	padding: 1.25em;
	width:33.33%;
	font-weight: 300;
}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}
#content{
	background: rgba(255,255,255,.2);
	height: 90vh;
	color: #715846;
	margin: 0 auto;
}
#moreinfo{
	width: 40%;
	padding: 2em;
	margin: 0 auto;
	background-color: #FFE4D0;
	border: solid #BE9F88;
	border-width: .5em;
}
