*{margin: 0; padding: 0; border-box: box-sizing;}
body{
	color: #fff;
	background-image: url('../images/background.jpg');
	background-size: cover; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: helvetica, sans-serif;
	font-size: 16px;
}
#intro {
	height:90vh;
	background-color: rgba(0,0,0,.4);
	font-family: optima, sans-serif;
	font-size: 1.4em;
}
#intro div {
	padding:450px 0 0 200px;
	line-height: 3em;
	color: #fff;
}
#slogan {
	font-style: italic;
	font-size: 1.4em;
	font-color: rgba(34,34,102,.4);
	font-family: verdana;
}
#about {
	background-color: #037a58;
	color: #fff;
	line-height: 1.4em;
	text-align: center;
	padding:20px 0 20px 0;
}
#contact {
	background-color: rgba(117,38,15,.6);
	font-color: rgba(255,255,255,.8);
	text-align: center;
	height: 20vh;
	padding: 75px 0 0 0;
}
h1 {
	font-size: 4.2em;
}
h2{
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-size: 1.2em;
	font-weight: normal;
}
a:link{
	text-decoration: none;
	font-weight: bold;
	color: #FF7954;
}
a:hover{
	text-decoration: underline;
	color: #FF7954;
}
a:visited{
	text-decoration: underline;
	color: #fff;
}
